name: CI

on:
  push:
    branches: [ master ]
  pull_request:
  # Allow to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    name: Run penny build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v6
      - name: Install dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libasound2-dev
          version: 1.0
      - name: Prepare rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Prepare just
        uses: extractions/setup-just@v3
      - name: Run tests
        run: just test
      - name: Build app
        run: just build
      - name: Check with Clippy
        run: just lint
